h1{
    text-align: center;
    margin-top : 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons_form_login{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.buttons_form_login .btn-primary{
    margin : 10px;
}

.buttons_form_login p{
    margin-top: 10px;
}

.buttons_form_login .btn-secondary{
    margin : 10px;
}

.obligatory{
    color: red;
}